* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'gothic720';
  src: url(../fonts/Gothic720BT.ttf);
}
header {
  height: 115px;
}

.logo {
  padding-top: 35px;
}

.sombra {
  box-shadow: 0px 0px 10px 3px #888888;
}

.banner {
  height: 550px;
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 5px;
}

.fonts-banner, .texto-baner-1, .text-banner-2, .seta-1, .seta-2 {
  color: #198b33;
  font-weight: lighter;
  font-family: 'gothic720';
}

.texto-baner-1 {
  padding-top: 70px;
  font-size: 2.5em;
}

.text-banner-2 {
  padding-top: 5px;
  font-size: 1.7em;
}

.seta-1 {
  height: 80px;
  background-color: #32994a;
  margin-top: 30px;
  position: relative;
  color: #fff;
  font-size: 1.3em;
  padding: 15px 15px 15px 10px;
}

.seta-1 p span {
  font-weight: bold !important;
}

.seta-1:after {
  content: "";
  background: url(../img/seta-1-after.png) no-repeat;
  width: 27px;
  height: 84px;
  display: inline-block;
  position: absolute;
  left: 100%;
  top: -1%;
}

.seta-2 {
  height: 80px;
  background-color: #515151;
  margin-top: 0px;
  position: relative;
  color: #fff;
  font-size: 1.3em;
  padding: 15px 15px 15px 10px;
}

.seta-2 p span {
  font-weight: bold !important;
}

.seta-2:before {
  content: "";
  background: url(../img/seta-1-before.png) no-repeat;
  width: 27px;
  height: 84px;
  display: inline-block;
  position: absolute;
  right: 100%;
  top: -1%;
}

.bloco-texto, .bloco-texto h3 {
  font-family: arial;
  font-size: 16px;
  color: #686868;
}
.bloco-texto h3 {
  font-size: 23px;
  color: #347ebf;
  font-weight: bold;
}
.bloco-texto span {
  color: #347ebf;
  font-weight: bold;
}

.circle, .circle-1, .circle-2 {
  height: 200px;
  border-radius: 500px;
  width: 200px;
  z-index: 100;
  color: #fff;
  margin-top: 20px;
  font-font-family: arial;
  font-size: 27px;
  font-font-weight: bold;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -webkit-border-top-left-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  -moz-border-radius-topleft: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-left-radius: 500px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.circle-1 {
  border: 10px solid rgba(52, 126, 191, 0.3);
  background-color: #5e98cc;
}
.circle-1 p {
  margin-top: -50px;
  margin-left: 40px;
  position: relative;
}

.circle-2 {
  border: 10px solid rgba(149, 193, 40, 0.3);
  background-color: #95c18c;
}
.circle-2 p {
  margin-top: -50px;
  margin-left: 60px;
  position: relative;
}

.img-circulo {
  z-index: 300;
}

.list-estilo ul {
  list-style-image: url("../img/check.png");
}
.list-estilo ul font {
  font-family: arial;
  size: 14px;
  color: #686868;
}
.list-estilo li {
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn, .btn-grande {
  background-color: #347ebf;
  border: 1px solid #347ebf;
  border-radius: 2px;
  width: 90%;
  padding: 12px 15px 10px 10px;
  margin-top: 5px;
  height: 45px;
}
.btn a, .btn-grande a {
  color: #fff;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.bg-faixa {
  background-image: url(../img/bg-faixa.jpg);
  background-repeat: repeat-x;
  height: 160px;
  margin-top: 60px;
  border-bottom: 10px solid #777734;
  padding-top: 30px;
}

.texto-faixa {
  font-family: 'gothic720';
  font-size: 24px;
  color: #777734;
}

.btn-faixa {
  background-color: #fff;
  height: 70px;
  width: 100%;
  padding: 20px 90px 20px 90px;
  border: 1px solid #777734;
}
.btn-faixa p {
  color: #777734;
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
}

.texto-faixa-2 {
  color: #777734;
  font-family: arial;
  font-weight: regular;
  font-size: 13px;
  margin-top: 10px;
}

.texto-icon-1 {
  color: #81a74e;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  padding-top: 40px;
}
.texto-icon-1 span {
  color: #b1b0b0;
}

.texto-icon-2 {
  color: #686868;
  font-family: arial;
}

#align-1 {
  margin-left: 50px !important;
}

.circle-icon {
  background-color: #81a74e;
  height: 80px;
  border-radius: 500px;
  width: 80px;
  z-index: 100;
  color: #686868;
  font-family: arial;
  font-size: 12px;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -webkit-border-top-left-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  -moz-border-radius-topleft: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-left-radius: 500px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-align {
  padding: 13px 10px 10px 17px;
}

.icon-align-2 {
  padding: 25px 10px 10px 14px;
}

.icon-align-3 {
  padding: 17px 10px 10px 21px;
}

.icon-align-4 {
  padding: 14px 10px 10px 23px;
}

.icon-align-5 {
  padding: 20px 10px 10px 13px;
}

.p1 {
  margin-top: 15px;
}

.p2 {
  margin-top: 5px;
}

.p3 {
  margin-top: 14px;
}

.p4 {
  margin-top: 14px;
}

.p5 {
  margin-top: 16px;
}

.btn-grande {
  height: 70px !important;
  position: relative;
  margin-top: 80px;
  padding: 20px 60px 20px 60px;
}
.btn-grande a {
  font-size: 22px;
}

.texto-icone {
  margin-top: 30px;
}
.texto-icone p {
  font-family: arial;
  color: #347ebf;
  font-size: 13px;
}

footer {
  height: 90px;
  background-color: #656565;
  border-top: 10px solid #555555;
  border-bottom: 3px solid #fff;
  font-family: arial;
  font-size: 12px;
  color: #fff;
  padding-top: 15px;
}

/*# sourceMappingURL=estilo.css.map */
