*{margin: 0; padding: 0;}
$sombra:0px 0px 10px 3px #888888;

header {
  height: 115px;
}
.logo {
  padding-top: 35px;
}
.sombra {
    box-shadow: $sombra;
}
.banner {
  height: 550px;
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
